.topnav {
  overflow: hidden;
  background-color: #333;
  /* position: relative; */
  position: absolute;
  right: 15px;
  top: 64px;
}

@media (min-width: 1024px) {
  .icon {
    display: none;
  }
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.icon {
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  background: linear-gradient(90deg, #f9572a, #ff9b05);
  color: #ffffff;
  font-weight: bold;
  border: 0;
  text-decoration: none;
}
